<div class="multiselect" >
    <div class="col-xs-5">
        <select id="multiselect" class="form-control" size="8" multiple="multiple">
            <option value="{{author.id}}" ng-repeat="author in authors track by $index" authors-watcher="{{course.authors}}">{{author.name}}</option>
        </select>
    </div>
    <div class="col-xs-2">
        <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
        <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
    </div>
    <div class="col-xs-5">
        <select id="multiselect_to" class="form-control" size="8" multiple="multiple">
            <option value="{{author.id}}" ng-repeat="author in course.authors track by $index">{{author.name}}</option>
        </select>
    </div>
</div>